.piggy-thoughts {
  height: 20%;
  width: 100%;
  z-index: 1000;
  position: absolute;
}

.piggy-thoughts > input {
  height: 100%;
  width: 100%;
  position: absolute;
}


html {
  height: 100%;
  background: radial-gradient(ellipse at center, #fcd7de 0%,#f9c0ca 100%);
}

.body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
}



.video-chat-container {
  border-radius: 100%;
  overflow: hidden;
  height: inherit;
  width: inherit;
  position: absolute;
}

.video-chat {
  left: -35%;
  position: absolute;
  height: 130%;
}

.body-display {
  position: absolute;
  top: 50%;
  width: 100%;
}

.pig-body {
  position: absolute;
  width: 100%;
}

.pig-head {
  position: absolute;
  width: 55%;
  left: 5%;
}

.snoot {
  position: absolute;
  left: 24%;
  margin-top: 27%;
  width: 15%;
}
